<!DOCTYPE html>
<html lang="fr">
{% extends 'Base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
   <title>Bien au propriétaire </title>
    </head>
      <div class="container">
        <div class="row">
           <div class="col-1 text-center  bg-light text-primary custum-border" >
               <h1 class="mt-2"><i class="fa-brands fa-accusoft"></i></i></h1>
           </div>
             <div class="col-7 h1 text-primary">Propriétaires
                <h6 class="text-dark "> <i class="fa-solid fa-ok"></i>&nbsp; Accueil Liste propriétaire</h6>
                 </div>
            <div class="col-4 md-6 out-side">
                 <div class="text-center ">
                 <p class="text-primary"> <u> Totals des intérêts % : 5000 FCFA</u></p>
                 <p class="text-primary">  Totals Frais Agence % : 00 FCFA</p>
             </div>
         </div>
        </div>
          <!-- l'entete de location proprietaire-->
          <div class="row mt-3 custum-border backgroud" >
              <div class="col-7 h2 mt-2 text-light"> <i class="fa-solid fa-user"></i> &nbsp LISTES DES PROPRIETAIRES</div>
              <div class="col-2 pt-3"></div>
              <div class="col-3 text-end">
                <button type="button" class="btn btn-primary m-3"data-bs-toggle="modal" data-bs-target="#myModal" ><i class="fa-solid fa-plus"></i> Nouveau</button>
              </div>
              </div>

          <div class="row mt-4 custum-border">
                   <div class="col">
                       <label for="Afiche1">Affiche</label>
                       <select class="form-select" aria-label="Default select example">
                          <option value="1" id="Afiche1">1</option>
                          <option value="2" id="Affiche1">2</option>
                        </select>
                   </div>
                   <div class="col">
                        <label for="Reche1">Affiche</label>
                         <input type="text" class="form-control" id="Reche1" placeholder="Recherche">
                   </div>
                   <div class="row mt-4 table-scroll">
                       <table class="table ">
                           <tr>
                               <th class="col border-right ">N°</th>
                               <th class="c ol-sm-5 border-right">Nom complet</th>
                               <th class="col-sm-2 border-right" >Adresse</th>
                               <th class="col-sm-2 border-right" > Téléphone</th>
                               <th class="col-sm-2 border-right" >Action</th>
                           </tr>
                           <tr>
                               <td class="border-right">1</td>
                               <td class="border-right"> ALY DIAllO  </td>
                               <td class="border-right">Sebenikoro</td>
                               <td class="border-right">  99887766</td>
                               <td class="border-right">
                                   <a type="button" href="#" class="btn btn-dark"data-bs-toggle="modal" data-bs-target="#Modal" > <i class="fa-regular fa-eye"></i></a>
                                   <a type="button" href="#" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i>&nbsp; </a>
                                   <a type="button" href="#" class="btn btn-danger"> <i class="fa-solid fa-trash-can"></i></a>
                               </td>
                           </tr>
                       </table>
                       <div class="col">
                           <span>Afficher de 1 à 1 sur Entrés</span>
                       </div>
                       <div class="col text-end">
                           <h3>pagination</h3>
                       </div>
                   </div>
                </div>
          </div>
      </div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

       <!-- Modal Header -->
      <div class="modal-header backgroud text-white">
        <h4 class="modal-title">NOUVEAU PROPRIETAIRE</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
       <div class="row">
          <form >
              <div class="row">
              <div class="col-8">
                   <div class="row">
                       <div class="row">
                           <label for="prenom">Prénom</label>
                          <input type="text" id="prenom" class="form-control">
                           <label>Nom</label>
                          <input type="nom" id="nom" class="form-control">
                            <label for="tel">Téléphone</label>
                          <input type="number" id="tel" class="form-control">
                           <label for="image">photo</label>
                          <input type="file" id="image" class="form-control">

                       </div>
                  </div>
            </div>
              <div class="col-4 custum-border text-center">
                  <img class="rounded " src="static/LOGO.png" alt="dd" width="150" height="150"> <br>
                  <div class="text-end mb-3">
                  <button  type="button" class="btn btn-success" > <h3><i class="fa-regular fa-folder-open"></i></h3></button>
                  </div>
              </div>
             </div>
               <div class="row">
                    <label for="adresse">Adresse</label>
                          <input type="text" id="adresse" class="form-control">
                    <label for="entreprise">Nom Entreprise (Facultatif)</label>
                          <input type="text" id="entreprise" class="form-control">
                    </div>
          </form>
       </div>
          <div class="row">
       </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-success" data-bs-save="modal">Enregistre</button>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- The Modal Pou voir les detail du propriétaire -->
<div class="modal" id="Modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">DETAIL DU PROPRIETAIRE :</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table ">
                <tbody>


                <div class="row">
                     <tr>
                  <th scope="row">Nom complet</th>
                  <td>Nom et Prénom</td>
                </tr>
                <tr>
                  <th scope="row">Adresse</th>
                  <td>Adresse, Ville, 2344</td>
                </tr>
                  <th scope="row">Téléphone</th>
                  <td>78 67 34 34</td>
                </tr>

                <tr>
                  <th scope="row">Entreprise</th>
                  <td>Nom d'entreprise</td>
                </tr>
                </div>
                  </tbody>
                </table>
                <div class="row ">
                    <div class=" col-4 text-center custum-border ">
                        <img src="static/LOGO.png" width="100" height="100">
                    </div>
                </div>
      </div>

      <!-- Modal footer -->
      <div class="  text-center mb-3 ">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
      </div>

    </div>
  </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
{% endblock content %}